apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-alerts-reboot
  namespace: monitoring
data:
  alerts-reboot.yaml: |
    apiVersion: 1
    groups:
      - orgId: 1
        name: Reboot
        folder: Server
        interval: 5m
        rules:
          - uid: fdzi8c0wl3x8ge
            title: Reboot
            condition: C
            data:
              - refId: A
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: prometheus
                model:
                  datasource:
                    type: prometheus
                    uid: prometheus
                  editorMode: code
                  expr: node_time_seconds - node_boot_time_seconds
                  hide: false
                  instant: true
                  intervalMs: 1000
                  legendFormat: __auto
                  maxDataPoints: 43200
                  range: false
                  refId: A
              - refId: B
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 0
                          - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                  datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                  expression: A
                  intervalMs: 1000
                  maxDataPoints: 43200
                  reducer: last
                  refId: B
                  type: reduce
              - refId: C
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 3600
                          - 0
                        type: lt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                  datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                  expression: B
                  intervalMs: 1000
                  maxDataPoints: 43200
                  refId: C
                  type: threshold
            noDataState: NoData
            execErrState: Error
            annotations:
              description: |-
                Instance has rebooted within the last hour.
                  Uptime: {{ $values.B.Value | humanizeDuration }}
              summary: Instance recently rebooted (instance {{ $labels.instance }}, job {{ $labels.job }})
            isPaused: false
          - uid: fee0o8u0hjx8ge
            title: Reboot mktxp
            condition: C
            data:
              - refId: A
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: prometheus
                model:
                  datasource:
                    type: prometheus
                    uid: prometheus
                  editorMode: code
                  expr: mktxp_system_uptime
                  hide: false
                  instant: true
                  intervalMs: 1000
                  legendFormat: __auto
                  maxDataPoints: 43200
                  range: false
                  refId: A
              - refId: B
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 0
                          - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                  datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                  expression: A
                  intervalMs: 1000
                  maxDataPoints: 43200
                  reducer: max
                  refId: B
                  type: reduce
              - refId: C
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 3600
                          - 0
                        type: lt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                  datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                  expression: B
                  intervalMs: 1000
                  maxDataPoints: 43200
                  refId: C
                  type: threshold
            noDataState: NoData
            execErrState: Error
            annotations:
              description: |-
                Instance has rebooted within the last hour.
                  Uptime: {{ $values.B.Value | humanizeDuration }}
              summary: Instance recently rebooted (instance {{ $labels.routerboard_name }})
            isPaused: false
