apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-alerts-ram
  namespace: monitoring
data:
  alerts-ram.yaml: |
    apiVersion: 1
    groups:
      - orgId: 1
        name: RAM
        folder: Server
        interval: 5m
        rules:
          - uid: cdzimwnsyf37ke
            title: RAM
            condition: C
            data:
              - refId: A
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: prometheus
                model:
                  datasource:
                    type: prometheus
                    uid: prometheus
                  editorMode: code
                  expr: 100 * (1 - (node_memory_MemAvailable_bytes/node_memory_MemTotal_bytes))
                  hide: false
                  instant: false
                  intervalMs: 1000
                  legendFormat: __auto
                  maxDataPoints: 43200
                  range: true
                  refId: A
              - refId: B
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                          - B
                      reducer:
                        params: []
                        type: last
                      type: query
                  datasource:
                    type: __expr__
                    uid: __expr__
                  expression: A
                  intervalMs: 1000
                  maxDataPoints: 43200
                  reducer: mean
                  refId: B
                  type: reduce
              - refId: C
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 85
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                          - C
                      reducer:
                        params: []
                        type: last
                      type: query
                  datasource:
                    type: __expr__
                    uid: __expr__
                  expression: B
                  intervalMs: 1000
                  maxDataPoints: 43200
                  refId: C
                  type: threshold
            noDataState: NoData
            execErrState: Error
            annotations:
              description: |-
                RAM usage is above 85% for the last 5 minutes.
                  Current RAM Usage: {{ $values.B.Value | printf "%.2f" }}%
              summary: High RAM usage detected (instance {{ $labels.instance }}, job {{ $labels.job }})
            isPaused: false
          - uid: bee0nygdzb400c
            title: RAM mktxp
            condition: C
            data:
              - refId: A
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: prometheus
                model:
                  datasource:
                    type: prometheus
                    uid: prometheus
                  editorMode: code
                  expr: 100 * (1 - (mktxp_system_free_memory/mktxp_system_total_memory))
                  hide: false
                  instant: false
                  intervalMs: 1000
                  legendFormat: __auto
                  maxDataPoints: 43200
                  range: true
                  refId: A
              - refId: B
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                          - B
                      reducer:
                        params: []
                        type: last
                      type: query
                  datasource:
                    type: __expr__
                    uid: __expr__
                  expression: A
                  intervalMs: 1000
                  maxDataPoints: 43200
                  reducer: mean
                  refId: B
                  type: reduce
              - refId: C
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 80
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                          - C
                      reducer:
                        params: []
                        type: last
                      type: query
                  datasource:
                    type: __expr__
                    uid: __expr__
                  expression: B
                  intervalMs: 1000
                  maxDataPoints: 43200
                  refId: C
                  type: threshold
            noDataState: NoData
            execErrState: Error
            annotations:
              description: |-
                RAM usage is above 80% for the last 5 minutes.
                  Current RAM Usage: {{ $values.B.Value | printf "%.2f" }}%
              summary: High RAM usage detected (instance {{ $labels.routerboard_name }})
            isPaused: false
