apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-alerts-storage
  namespace: monitoring
data:
  alerts-storage.yaml: |
    apiVersion: 1
    groups:
      - orgId: 1
        name: Storage
        folder: Server
        interval: 5m
        rules:
          - uid: adzio59a2016od
            title: Storage
            condition: C
            data:
              - refId: A
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: prometheus
                model:
                  datasource:
                    type: prometheus
                    uid: prometheus
                  editorMode: code
                  expr: 100 - ((node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"})
                  hide: false
                  instant: true
                  intervalMs: 1000
                  legendFormat: __auto
                  maxDataPoints: 43200
                  range: false
                  refId: A
              - refId: B
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                          - B
                      reducer:
                        params: []
                        type: last
                      type: query
                  datasource:
                    type: __expr__
                    uid: __expr__
                  expression: A
                  intervalMs: 1000
                  maxDataPoints: 43200
                  reducer: max
                  refId: B
                  type: reduce
              - refId: C
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 90
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                          - C
                      reducer:
                        params: []
                        type: last
                      type: query
                  datasource:
                    type: __expr__
                    uid: __expr__
                  expression: B
                  intervalMs: 1000
                  maxDataPoints: 43200
                  refId: C
                  type: threshold
            noDataState: NoData
            execErrState: Error
            annotations:
              description: |-
                Used storage space is over 90%.
                  Current used space: {{ $values.B.Value | printf "%.2f" }}%
              summary: Low storage space on (instance {{ $labels.instance }}, job {{ $labels.job }})
            isPaused: false
          - uid: fee0oubrhrhtsa
            title: Storage mktxp
            condition: C
            data:
              - refId: A
                relativeTimeRange:
                  from: 300
                  to: 0
                datasourceUid: prometheus
                model:
                  datasource:
                    type: prometheus
                    uid: prometheus
                  editorMode: code
                  expr: 100 - ((mktxp_system_free_hdd_space * 100) / mktxp_system_total_hdd_space)
                  hide: false
                  instant: true
                  intervalMs: 1000
                  legendFormat: __auto
                  maxDataPoints: 43200
                  range: false
                  refId: A
              - refId: B
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 0
                          - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                  datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                  expression: A
                  intervalMs: 1000
                  maxDataPoints: 43200
                  reducer: max
                  refId: B
                  type: reduce
              - refId: C
                datasourceUid: __expr__
                model:
                  conditions:
                    - evaluator:
                        params:
                          - 95
                          - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                  datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                  expression: B
                  intervalMs: 1000
                  maxDataPoints: 43200
                  refId: C
                  type: threshold
            noDataState: NoData
            execErrState: Error
            annotations:
              description: |-
                Used storage space is over 90%.
                  Current used space: {{ $values.B.Value | printf "%.2f" }}%
              summary: Low storage space on (instance {{ $labels.routerboard_name }})
            isPaused: false
