apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yaml: |
    global:
      checkNewVersion: true
      sendAnonymousUsage: true

    log:
      level: INFO
      format: json

    # experimental:
    #   plugins:
    #     traefik-umami-plugin:
    #       moduleName: "github.com/1cedsoda/traefik-umami-plugin"
    #       version: "v1.0.3"

    api:
      dashboard: true
      debug: true
      insecure: true

    metrics:
      prometheus:
        buckets: [0.100000, 0.300000, 1.200000, 5.000000]
        addEntryPointsLabels: true
        addServicesLabels: true
        entryPoint: "metrics"

    accessLog:
      format: json

    entryPoints:
      http:
        address: ":80"
        forwardedHeaders:
          trustedIPs:
            - "10.1.1.0/24"
            - "10.41.0.0/16"
        proxyProtocol:
          trustedIPs:
            - "10.1.1.0/24"
            - "10.41.0.0/16"
        http:
          redirections:
            entryPoint:
              to: https
              scheme: https
          # middlewares:
          #   - "umami-analytics@file"
      https:
        address: ":443"
        forwardedHeaders:
          trustedIPs:
            - "10.1.1.0/24"
            - "10.41.0.0/16"
        proxyProtocol:
          trustedIPs:
            - "10.1.1.0/24"
            - "10.41.0.0/16"
        # http:
        #   middlewares:
        #     - "umami-analytics@file"

      ssh:
        address: ":22"
      wazuh-agent:
        address: ":1514"
      metrics:
        address: ":8899"

    serversTransport:
      insecureSkipVerify: true

    providers:
      kubernetesCRD: {}
      kubernetesIngress: {}
      file:
        directory: /etc/traefik
        watch: true
      redis:
        endpoints:
          - "traefik-valkey:6379"

    # certificatesResolvers:
    #   cloudflare:
    #     acme:
    #       email: yoga.november2000@gmail.com
    #       storage: /data/acme.json
    #       caServer: "https://acme-v02.api.letsencrypt.org/directory"
    #       dnsChallenge:
    #         provider: cloudflare
    #         resolvers:
    #           - "1.1.1.1:53"
    #           - "1.0.0.1:53"
    #         delayBeforeCheck: 10

  proxmox.yml: |
    http:
      routers:
        proxmox:
          rule: Host(`proxmox.ygnv.my.id`)
          service: proxmox
          entryPoints:
            - https
          middlewares:
            - default-headers
          tls: {}

      middlewares:
        https-redirect:
          redirectScheme:
            scheme: https
        default-headers:
          headers:
            frameDeny: true
            sslRedirect: true
            browserXssFilter: true
            contentTypeNosniff: true
            forceSTSHeader: true
            stsIncludeSubdomains: true
            stsPreload: true
            stsSeconds: 15552000
            customFrameOptionsValue: SAMEORIGIN

      services:
        proxmox:
          loadBalancer:
            servers:
              - url: "https://10.1.1.3:8006"
            passHostHeader: true
