apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  # Official Argo CD installation manifest as remote base
  - https://raw.githubusercontent.com/argoproj/argo-cd/master/manifests/install.yaml
  # Custom Traefik IngressRoute
  - ingress.yml

patches:
  # Apply custom configurations to ConfigMaps
  - path: patches/configmap-cmd-params.yaml
  - path: patches/configmap-cm.yaml
  - path: patches/configmap-rbac.yaml
  # Set imagePullPolicy to IfNotPresent for all deployments
  - path: patches/image-pull-policy.yaml
  # Set resource requests for all containers
  - path: patches/resources.yaml

images:
  # Replace all Argo CD images with custom registry
  # Renovate will automatically update these tags
  - name: quay.io/argoproj/argocd
    newName: reg.ygnv.my.id/quay/argoproj/argocd
    newTag: v3.4.0
  # Replace Dex image
  - name: ghcr.io/dexidp/dex
    newName: reg.ygnv.my.id/ghcr/dexidp/dex
    newTag: v2.44.0
  # Replace Redis image
  - name: public.ecr.aws/docker/library/redis
    newName: reg.ygnv.my.id/docker/redis
    newTag: 8.4.0-alpine


