apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  # Official Argo CD installation manifest - stable release (HA)
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.3/manifests/ha/install.yaml
  # Custom Traefik IngressRoute
  - ingress.yml
  - argocd-notifications-secret.yml
  # OIDC SealedSecret (patches existing argocd-secret)
  - argocd-oidc-secret.yml

patches:
  # Apply custom configurations to ConfigMaps
  - path: patches/configmap-cmd-params.yml
  - path: patches/configmap-cm.yml
  - path: patches/configmap-rbac.yml
  - path: patches/secret-ownership.yml
    target:
      kind: Secret
      name: argocd-notifications-secret
  - path: patches/configmap-notifications.yml
    target:
      kind: ConfigMap
      name: argocd-notifications-cm
  # Set imagePullPolicy and resource requests for all workloads
  - path: patches/workloads.yml
  # Add OIDC credentials to argocd-secret
  - path: patches/secret-oidc.yml
    target:
      kind: Secret
      name: argocd-secret

images:
  # Replace all Argo CD images with custom registry
  # Renovate will automatically update these tags
  - name: quay.io/argoproj/argocd
    newName: reg.ygnv.my.id/quay/argoproj/argocd
  # Replace Dex image
  - name: ghcr.io/dexidp/dex
    newName: reg.ygnv.my.id/ghcr/dexidp/dex
  # Replace Redis image
  - name: public.ecr.aws/docker/library/redis
    newName: reg.ygnv.my.id/docker/redis
